---
import "@/styles/globals.css";

import { Picture } from "astro:assets";

import { ProjectCard } from "@/components/project-card";
import { Button } from "@/components/ui/button";

import { Linkedin, Github } from "lucide-react";

const projects = [
  {
    title: "Trader",
    description: "High-frequency trading algorithm",
    tags: ["AWS", "Docker", "Golang"],
    link: "https://github.com/shreyaslad/trader",
  },
  {
    title: "Finance",
    description: "Statement ingestion + processing",
    tags: ["AWS", "Next.JS", "Python"],
    link: "https://github.com/shreyaslad/finance",
  },
  {
    title: "Sonar",
    description: "x86-64 Type-1 Hypervisor",
    tags: ["C", "Operating Systems"],
    link: "https://github.com/shreyaslad/sonar",
  },
  {
    title: "Delta",
    description: "Vehicle Anti-Collision System",
    tags: ["AWS", "Python", "Hardware"],
    link: "https://github.com/shreyaslad/delta",
  },
];
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="https://github.com/shreyaslad.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home | Shreyas Lad</title>
  </head>
  <body>
    <div class="m-12 flex flex-col gap-8">
      <!-- Navbar -->
      <section class="flex flex-row justify-between items-center">
        <p class="text-3xl font-semibold tracking-tight">Shreyas Lad</p>

        <!-- Social Buttons -->
        <div class="flex flex-row gap-2">
          <a href="https://linkedin.com/in/shreyaslad" target="_blank">
            <Button variant={"outline"} size={"icon"}>
              <Linkedin className="stroke-0 fill-current" />
            </Button>
          </a>

          <a href="https://github.com/shreyaslad" target="_blank">
            <Button variant={"outline"} size={"icon"}>
              <Github />
            </Button>
          </a>

          <a href="/Shreyas_Lad_Resume.pdf" target="_blank">
            <Button className="shadow-none ml-2">Download Resume</Button>
          </a>
        </div>
      </section>

      <hr />

      <!-- Hero -->
      <section class="flex flex-row justify-between items-center mb-8">
        <div class="flex flex-col gap-y-3">
          <h2
            class="scroll-m-20 text-8xl pb-2 font-semibold tracking-tight first:mt-0"
          >
            Hey There! 👋
          </h2>
          <h3
            class="scroll-m-20 text-2xl font-light tracking-wide text-muted-foreground"
          >
            I specialize in <span class="font-semibold">AWS</span> and fullstack
            engineering. <span class="font-semibold">Golang</span>,

            <span class="font-semibold">Python</span>, <span
              class="font-semibold">Typescript</span
            >, <span class="font-semibold">C</span>.
          </h3>

          <div class="flex flex-row mt-2 gap-4">
            <a href="https://linkedin.com/in/shreyaslad" target="_blank">
              <Button>
                <Linkedin className="mr-2 h-4 w-4 fill-inherit stroke-1" />
                 Let's Connect!
              </Button>
            </a>

            <a href="/Shreyas_Lad_Resume.pdf" target="_blank"
              ><Button size={"lg"} variant={"secondary"}>
                Download Resume
              </Button>
            </a>
          </div>
        </div>

        <Picture
          alt="Profile Picture"
          width={200}
          height={200}
          src={"https://github.com/shreyaslad.png"}
          class={"overflow-hidden rounded-full"}
        />
      </section>

      <section>
        <h2
          class="scroll-m-20 pb-2 text-4xl font-semibold tracking-tight first:mt-0 text-muted-foreground"
        >
          Projects
        </h2>

        <div class="grid grid-cols-4 gap-4 mt-4">
          {
            projects.map((val, _) => (
              <ProjectCard
                title={val.title}
                description={val.description}
                tags={val.tags}
                link={val.link}
              />
            ))
          }
        </div>
      </section>
    </div>
  </body>
</html>
